<!DOCTYPE html>
<html>
<head>
  <title>Форма заказа Намба такси</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/base.css" rel="stylesheet" media="screen">
</head>
<body onload="initialize()">
  <div id="logo"><img src="/ima/logo.png" /></div>
  <div id="wrap"></div>
  <div id="footer">
    <div class="container">
      <div class="contacts">
        Контакты<br>
        (0312) 976 000, (0559) 976 000, (0771) 60 9760<br>
        (0709) 976 000 <b>Заказ по СМС</b> 9760
      </div>
    </div>
  </div>

  <form id="order">
    <fieldset>
      <legend>Онлайн заказ такси</legend>
      <div id="result" class="alert"></div>
      <div>
        <textarea rows="3" id="address" name="address" placeholder="Адрес..." maxlength="500"></textarea>
      </div>
      <div class="controls controls-row">
        <select class="span1" id="code" name="code">
          <optgroup label="Мегаком">
            <option>551</option>
            <option>552</option>
            <option>553</option>
            <option>554</option>
            <option>555</option>
            <option>556</option>
            <option>557</option>
            <option>558</option>
            <option>559</option>
          </optgroup>
          <optgroup label="Билайн">
            <option>770</option>
            <option>771</option>
            <option>772</option>
            <option>773</option>
            <option>775</option>
            <option>777</option>
            <option>778</option>
            <option>779</option>
          </optgroup>
          <optgroup label="Ошка">
            <option>700</option>
            <option>701</option>
            <option>702</option>
            <option>703</option>
            <option>704</option>
            <option>705</option>
            <option>706</option>
            <option>707</option>
            <option>708</option>
            <option>709</option>
          </optgroup>
          <optgroup label="Кыргызтелеком">
            <option>312</option>
          </optgroup>
        </select>
        <input class="span2" type="text" id="phone" name="phone" placeholder="Телефон..." maxlength="6">
      </div>
      <div>
        <button type="submit" id="fire" class="btn btn-success">Заказать такси</button>
      </div>
    </fieldset>
  </form>

  <script src="/js/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3dZ4iZ-PFMgI6axi0L-gwmPt_wvMA6y0&sensor=true">
  </script>
  <script type="text/javascript">
    $("#fire").click(function(){
      $.post("/order", $("#order").serialize(),
        function(data){
          var t;
          if (data.result == 'ok') {
            $("#address").hide();
            $("#code").hide();
            $("#phone").hide();
            $("#fire").hide();
            t = "<span class='label label-success'>Ваш заказ принят</span><br>"+data.message;
            $("#result").html(t).removeClass("alert-error").addClass("alert-success").show();
          } else {
            t = "<span class='label label-important'>Ошибка!</span><br>"+data.message;
            $("#result").html(t).removeClass("alert-success").addClass("alert-error").show();
          }
        }, "json");
      return false;
    });

    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(42.876066,74.591289),
        zoom: 14,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("wrap"), mapOptions);

      $.getJSON('/cars', function(data) {
        $.each(data, function(key, val) {
          var myLatlng = new google.maps.LatLng(val.Lat, val.Lng);
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"Борт номер " + val.BoardNumber,
            icon: "/ima/marker.png"
          });
        });
      });

    }
  </script>
</body>
</html>