<!DOCTYPE html>
<html>
<head>
  <title>Форма заказа Намба такси</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/base.css?20130225" rel="stylesheet" media="screen">
</head>
<body onload="initialize()">
  <div id="logo"><a href="/"><img border="0" src="/ima/logo.png" /></a></div>
  <div id="wrap"></div>
  <form id="order">
    <fieldset>
      <legend>Онлайн заказ такси</legend>
      <div id="result" class="alert"></div>
      <div>
        <textarea rows="3" id="address" name="address" placeholder="Адрес..." maxlength="500"></textarea>
      </div>
      <div class="controls controls-row">
        <select class="span1" id="code" name="code">
          <optgroup label="Мегаком">
            <option value="551">551</option>
            <option value="552">552</option>
            <option value="553">553</option>
            <option value="554">554</option>
            <option value="555">555</option>
            <option value="556">556</option>
            <option value="557">557</option>
            <option value="558">558</option>
            <option value="559">559</option>
          </optgroup>
          <optgroup label="Билайн">
            <option value="770">770</option>
            <option value="771">771</option>
            <option value="772">772</option>
            <option value="773">773</option>
            <option value="775">775</option>
            <option value="777">777</option>
            <option value="778">778</option>
            <option value="779">779</option>
          </optgroup>
          <optgroup label="Ошка">
            <option value="700">700</option>
            <option value="701">701</option>
            <option value="702">702</option>
            <option value="703">703</option>
            <option value="704">704</option>
            <option value="705">705</option>
            <option value="706">706</option>
            <option value="707">707</option>
            <option value="708">708</option>
            <option value="709">709</option>
          </optgroup>
          <optgroup label="Фонекс">
            <option value="543">543</option>
            <option value="545">545</option>
          </optgroup>
          <optgroup label="Кыргызтелеком">
            <option value="312">312</option>
          </optgroup>
        </select>
        <input class="span2" type="text" id="phone" name="phone" placeholder="Телефон..." maxlength="6" value="<%= @phone %>">
      </div>

      <div id="captcha">
        <%= captcha_answer_tag %>
        <%= captcha_image_tag %>
      </div>

      <div>
        <button type="submit" id="fire" class="btn btn-success">Заказать такси</button>
      </div>
    </fieldset>
    <div class="info">
      <a href="#infoModal" data-toggle="modal">Как это работает?</a>
    </div>
  </form>

  <script src="/js/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3dZ4iZ-PFMgI6axi0L-gwmPt_wvMA6y0&sensor=true">
  </script>
  <script type="text/javascript">
    $(function() {
      $("select[name='code']").find("option[value='<%= @code %>']").prop("selected",true);
    });

    $("#fire").click(function(){
      $("#result").hide();
      $("#fire").attr("disabled", "disabled");
      $("#fire").html('Обработка...');
      $.post("/order", $("#order").serialize(),
        function(data){
          var t;
          if (data.result == 'ok') {
            $("#address").hide();
            $("#code").hide();
            $("#phone").hide();
            $("#captcha").hide();
            $("#fire").hide();
            t = "<span class='label label-success'>Ваш заказ принят</span><br>"+data.message;
            $("#result").html(t).removeClass("alert-error").addClass("alert-success").show();
          } else {
            t = "<span class='label label-important'>Ошибка!</span><br>"+data.message;
            $("#result").html(t).removeClass("alert-success").addClass("alert-error").show();
          }
        }, "json").done(function(){
            $("#fire").removeAttr("disabled");
            $("#fire").html('Заказать такси');
          });
      return false;
    });

    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(42.876066,74.591289),
        zoom: 14,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("wrap"), mapOptions);

      if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function(pos) {
        var me = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
        var myLoc = new google.maps.Marker({
          clickable: false,
          map: map,
          icon:"/ima/location.png"
        });
        myLoc.setZIndex(999);
        myLoc.setPosition(me);
        map.panTo(me);
      });

      $.getJSON('/cars', function(data) {
        $.each(data, function(key, val) {
          var myLatlng = new google.maps.LatLng(val.Lat, val.Lng);
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"Борт номер " + val.BoardNumber,
            icon: "/ima/marker.png"
          });
        });
      });

    }

    function onPositionUpdate(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
    }

    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(onPositionUpdate);

  </script>

  <div id="infoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Удобная форма заказа Namba Taxi</h3>
    </div>
    <div class="modal-body">
      <p><span class="label label-info">ORDER.NAMBA.KG</span> - это еще один быстрый способ воспользоваться услугами Namba Taxi. На карте вы видите свободных водителей такси, которые готовы принять ваш заказ.</p>
      <p>Использовать сервис очень легко: укажите адрес, свой телефон и нажмите на кнопку заказа. Далее все как обычно: вам перезванивает оператор, подтверждает заказ и машина выезжает к вам.</p>
      <p>Важно: узнать обновленное количество свободных машин и их расположение на карте можно, перезагрузив страницу через минуту.</p>
      <p></p>
      <p>Наши контакты:</p>
      <ul>
        <li>0 (312) 976 000</li>
        <li>0 (559) 976 000</li>
        <li>0 (771) 609 760</li>
        <li>0 (709) 976 000</li>
      </ul>
      <p>Заказ по SMS: <b>9760</b></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
  </div>

</body>
</html>