<!DOCTYPE html>
<html>
<head>
  <title>Форма заказа Намба такси</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/base.css" rel="stylesheet" media="screen">
</head>
<body onload="initialize()">
  <div id="logo"><img src="/ima/logo.png" /></div>
  <div id="wrap"></div>
  <div id="footer">
    <div class="container">
      <div class="contacts">
        Контакты<br>
        (0312) 976 000, (0559) 976 000, (0771) 60 9760<br>
        (0709) 976 000 <b>Заказ по СМС</b> 9760
      </div>
    </div>
  </div>

  <form>
    <fieldset>
      <legend>Онлайн заказ такси</legend>
      <div>
        <textarea rows="3" placeholder="Адрес..."></textarea>
      </div>
      <div>
        <input type="text" placeholder="Телефон...">
      </div>
      <div>
        <button type="submit" class="btn btn-success">Заказать такси</button>
      </div>
    </fieldset>
  </form>

  <script src="/js/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3dZ4iZ-PFMgI6axi0L-gwmPt_wvMA6y0&sensor=true">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(42.876066,74.591289),
        zoom: 14,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("wrap"), mapOptions);

      var myLatlng = new google.maps.LatLng(42.8851883, 74.605305);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title:"Борт номер 58",
        icon: "/ima/marker.png"
      });

    }
  </script>
</body>
</html>