<!DOCTYPE html>
<html>
<head>
  <title>Форма заказа Дизель такси</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/base.css?20130228" rel="stylesheet" media="screen">
</head>
<body onload="initialize()">
  <div id="logo"><a href="/"><img border="0" src="/ima/logo.png" /></a></div>
  <div id="wrap"></div>
  <div class="right">
    <form id="order">
    <fieldset>
      <legend>Онлайн заказ такси</legend>
      <div id="result" class="alert"></div>
      <div>
        <textarea rows="3" id="address" name="address" placeholder="Адрес..." maxlength="500"></textarea>
      </div>
      <div class="controls controls-row">
        <select class="span1" id="code" name="code">
          <optgroup label="Мегаком">
            <option value="550">550</option>
            <option value="551">551</option>
            <option value="552">552</option>
            <option value="553">553</option>
            <option value="554">554</option>
            <option value="555">555</option>
            <option value="556">556</option>
            <option value="557">557</option>
            <option value="558">558</option>
            <option value="559">559</option>
          </optgroup>
          <optgroup label="Билайн">
            <option value="770">770</option>
            <option value="771">771</option>
            <option value="772">772</option>
            <option value="773">773</option>
            <option value="775">775</option>
            <option value="777">777</option>
            <option value="778">778</option>
            <option value="779">779</option>
          </optgroup>
          <optgroup label="Ошка">
            <option value="700">700</option>
            <option value="701">701</option>
            <option value="702">702</option>
            <option value="703">703</option>
            <option value="704">704</option>
            <option value="705">705</option>
            <option value="706">706</option>
            <option value="707">707</option>
            <option value="708">708</option>
            <option value="709">709</option>
          </optgroup>
          <optgroup label="Фонекс">
            <option value="543">543</option>
            <option value="545">545</option>
          </optgroup>
          <optgroup label="Кыргызтелеком">
            <option value="312">312</option>
          </optgroup>
        </select>
        <input class="span2" type="text" id="phone" name="phone" placeholder="Телефон..." maxlength="6" value="<%= @phone %>">
      </div>

      <div>
        <button type="submit" id="fire" class="btn btn-success">Заказать такси</button>
      </div>
    </fieldset>
    <div class="info">
      <a href="#infoModal" data-toggle="modal" class="how">Как это работает?</a>
      <a href="http://diesel.elcat.kg/index.php?showtopic=27625184" target="_blank">О Дизель такси</a>
    </div>
  </form>

    <div class="alert alert-info diesel-alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Вы можете узнать расстояние и стоимость поездки между двумя точками отметив их на карте
    </div>
  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3dZ4iZ-PFMgI6axi0L-gwmPt_wvMA6y0&sensor=true">
  </script>
  <script type="text/javascript">
    $(function() {
      $("select[name='code']").find("option[value='<%= @code %>']").prop("selected",true);
    });

    $("#fire").click(function(){
      $("#result").hide();
      $("#fire").attr("disabled", "disabled");
      $("#fire").html('Обработка...');
      $.post("/order", $("#order").serialize(),
        function(data){
          var t;
          if (data.result == 'ok') {
            $("#address").hide();
            $("#code").hide();
            $("#phone").hide();
            $("#captcha").hide();
            $("#fire").hide();
            t = "<span class='label label-success'>Ваш заказ принят</span><br>"+data.message;
            $("#result").html(t).removeClass("alert-error").addClass("alert-success").show();
          } else {
            t = "<span class='label label-important'>Ошибка!</span><br>"+data.message;
            $("#result").html(t).removeClass("alert-success").addClass("alert-error").show();
          }
        }, "json").done(function(){
            $("#fire").removeAttr("disabled");
            $("#fire").html('Заказать такси');
          });
      return false;
    });

    // Данчик, спасибо... ты вообще такой молодец на самом деле...

    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
    var on_draw_route;
    var map;
    var route = [];

    function remove_route() {
      _(route).each(function(marker) {
        marker.setMap(null);
      });
      directionsDisplay.setMap(null);
      route = [];
    }

    function calculate_callback(calculated_distance, origin_from_map, destination_from_map) {
      distance = calculated_distance;
      origin = origin_from_map;
      destination = destination_from_map;
      $('#priceModal').modal('toggle');
      distance_km = (distance/1000).toFixed(2);
      $('#distance').text(distance_km + " км.");

      if (distance_km < 1) {
        distance_km = 1
      }

      price_light = 50 + (distance_km - 1)*10;
      $('#price-light').text(price_light.toFixed(1) + " с.");

      if (distance_km < 8) {
        distance_km = 8
      }

      price_kingsize = 500 + (distance_km - 8)*50;
      $('#price-kingsize').text(price_kingsize.toFixed(1) + " с.");
    }

    function initialize() {

      var mapOptions = {
        center: new google.maps.LatLng(42.876066,74.591289),
        zoom: 14,
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById("wrap"), mapOptions);

      if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function(pos) {
        var me = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
        var myLoc = new google.maps.Marker({
          clickable: false,
          map: map,
          icon:"/ima/location.png"
        });
        myLoc.setZIndex(999);
        myLoc.setPosition(me);
        map.panTo(me);
      });

      $.getJSON('/cars', function(data) {
        $.each(data, function(key, val) {
          var myLatlng = new google.maps.LatLng(val.Lat, val.Lng);
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"Борт номер " + val.BoardNumber,
            icon: "/ima/marker.png"
          });
        });
      });

      on_draw_route = calculate_callback

      google.maps.event.addListener(map, 'click', function(event) {
        point = event.latLng
        add_point(point);
      });

    }

    function onPositionUpdate(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
    }

    function add_point(point) {

      var marker = new google.maps.Marker({
        position: point,
        map: map,
        draggable: true,
        icon:"/ima/point.png"
      });

      google.maps.event.addListener(marker, 'dragend', function() {
        if (route.length == 2) {
          draw_route();
        }
      });

      route.push(marker);

      if (route.length == 3) {
        _(route).first().setMap(null);
        route.shift();
      }

      if (route.length == 2) {
        draw_route();
      }
    }

    function draw_route() {
      var request = {
        origin: route[0].getPosition(),
        destination: route[1].getPosition(),
        travelMode: google.maps.DirectionsTravelMode.DRIVING
      };

      directionsDisplay.setMap(map);
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          var leg = response.routes[0].legs[0];
          directionsDisplay.setDirections(response);
          on_draw_route(leg.distance.value, leg.start_location, leg.end_location);
        }
      });

    }

    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(onPositionUpdate);

  </script>

  <div id="priceModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Расчет расстояния и стоимости поездки</h3>
    </div>
    <div class="modal-body">
      <p>Расстояние: <span id="distance" class="label label-warning"></span></p>
      <p>Стоимость легкового такси: <span id="price-light" class="label label-success"></span></p>
      <p>Стоимость грузового такси: <span id="price-kingsize" class="label label-success"></span></p>
      <div class="alert">
        <strong>Внимание!</strong> Данные расчеты являются приблизительными и могут отличаться от фактической стоимости поездки.
        Более детальную информацию вы можете узнать у оператора по телефону <span class="label label-success">1450</span>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
  </div>

  <div id="infoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Удобная форма заказа Diesel Taxi</h3>
    </div>
    <div class="modal-body">
      <p><span class="label label-success">Форма заказа DIESEL TAXI</span> - это еще один быстрый способ воспользоваться услугами Diesel Taxi. На карте вы видите свободных водителей такси, которые готовы принять ваш заказ.</p>
      <p>Использовать сервис очень легко: укажите адрес, свой телефон и нажмите на кнопку заказа. Далее все как обычно: вам перезванивает оператор, подтверждает заказ и машина выезжает к вам.</p>
      <p>Важно: узнать обновленное количество свободных машин и их расположение на карте можно, перезагрузив страницу через минуту.</p>
      <p></p>
      <p>Заказ по телефону: <b>1450</b></p>
      <p>Заказ по SMS: <b>1450</b></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
  </div>

</body>
</html>
