html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -110px;
  z-index: 0;
}

#footer {
  height: 110px;
  background-color: #f5f5f5;
  z-index: 100;
  position: relative;
}

#logo {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

form {
  z-index: 100;
  position: absolute;
  top: 15%;
  right: 10%;
  background-color: #1083c2;
  padding:20px;
  opacity: 0.95;
}

form legend {
  color: white;
  border-bottom: 0;
}

form div {
  padding-bottom: 10px;
}

.container {
  width: auto;
}

.container .contacts {
  margin: 20px;
  z-index: 100;
}

#result {
  display: none;
  width:160px;
}